.tabMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid yellow;
    width: 80vw;
    padding: 10px;
    background-color:  rgb(186, 225, 126);
    border-radius: 5px;
    margin-top: 10px;

}

.tabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    border-bottom: 1px rgba(0, 19, 37, 0.52) solid;

}

.tabButton a {
    padding: 5px 10px;
}

.tabButton a.active {
    color: #E80071;
    border-bottom: 2px #E80071 solid;
}

.tabContent {
    min-height: 100px;
}