@import "tailwindcss";
*{

    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    object-fit: contain;
    overflow: auto;
     height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::-webkit-scrollbar{
    display: none;
}
.app,.productDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 220px;
    height: 350px;
    padding: 10px;
    border-radius: 10px !important;
}
 .cardImg{
    
    height: 220px;
    /* border: 2px solid red; */
    background-size: contain !important;
 }
