@import "tailwindcss";

* {

    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    object-fit: contain;
    overflow: auto;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.app,
.productDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 220px;
    height: 350px;
    padding: 10px;
    border-radius: 10px !important;
}

.cardImg {

    height: 220px;
    /* border: 2px solid red; */
    background-size: contain !important;
}


.modal {
    /* background: rgb(162, 168, 163); */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(35, 35, 36, 0.9);
}

.logInSection {

    width: 300px;
    /* border: 2px black solid; */
}

.loggedIn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-right: 30px;
}

.shoppingCart {
    position: relative;
    /* border: 2px solid black; */
    width: 50px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 12px;
    cursor: pointer;
}

.counter {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: red;
    color: white;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 8px;
}

.truncatedName {
    width: 60px;
    white-space: nowrap;
    /* Prevents text from wrapping */
    overflow: hidden;
    /* Hides overflowing content */
    text-overflow: ellipsis;
    /* Displays ellipsis for truncated text */
}

.drawer {
    width: 350px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    border-radius: 5px;
    transition: right 3s ease;
    z-index: 1000;
}

.drawerOpen {
    right: 0;
}

.drawerClose {
    right: -400px;
    /* transition: right 5s ease; */
}